/* Game.css */
.game-container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
}

.game-area {
    width: 45%;
    background-color: #e9efff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.game-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.game-button {
    padding: 10px 20px;
    background-color: #4a90e2;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.game-button:hover {
    background-color: #357ABD;
}

.game-list {
    list-style-type: none;
    padding: 0;
}

.game-item {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Responsividade */
@media (max-width: 768px) {
    .game-section {
        flex-direction: column;
        align-items: center;
    }

    .game-area {
        width: 90%;
        margin-bottom: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1600px) {
    .game-area {
        width: 70%;
    }
}
