/* MainMenu.css */
.main-menu-container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.main-menu-title {
    color: #4a90e2;
    margin-bottom: 20px;
}

.main-menu-button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4a90e2;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-menu-button:hover {
    background-color: #357ABD;
}

/* Responsividade */
@media (max-width: 768px) {
    .main-menu-container {
        width: 95%;
    }
}

@media (min-width: 769px) and (max-width: 1600px) {
    .main-menu-container {
        width: 70%;
    }
}
